name: Twitter Bot

on:
  schedule:
    - cron: "0 */3 * * *" # Her 3 saatte bir çalışır
  workflow_dispatch:      # GitHub sayfasından elle "Run workflow" butonu ile çalıştırmak için

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run bot
        env:
          API_KEY: ${{ secrets.API_KEY }}
          API_SECRET: ${{ secrets.API_SECRET }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          ACCESS_SECRET: ${{ secrets.ACCESS_SECRET }}
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          HORDE_KEY: ${{ secrets.HORDE_KEY }} # Ekledim (Secret yoksa boş geçer, bot "Anonim" çalışır)
        run: python bot.py
